<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">LISTA MEDICACIÓN</h4>
                    </div>

                    <div class="card-body">                      
                      <div class="container">
                        <table class="table table-striped table-hover">
                            <thead class="text-center">
                                <tr>
                                  <th class="table-danger" scope="col">DESCRIPCION:</th>
                                  <th class="table-danger" scope="col">DOSIS:</th>
                                  <th class="table-danger" scope="col">DURACION:</th>
                                  <th class="table-danger" scope="col">FECHA CADUCIDAD:</th>
                                  <th class="table-danger" scope="col">FRECUENCIA:</th>
                                  <th class="table-danger" scope="col">ACCIONES:</th>
                                </tr>
                              </thead>
                              <tbody class="text-center">
                                <tr>
                        
                                    <td scope="row"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>  
                                    <td>
                                        <div class="text-center">
                                            <div class="btn-group">
                                                <button mat-raised-button type="submit" class="btn btn-danger btn-round"
                                                    class="btneliminar">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                        
                                  </tr>
                              </tbody>
                        
                        </table>
  
                        
  
                      </div>
            
  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
