.btneliminar{
    margin-left: 20px;
    background-color: rgb(255, 58, 58);
}

.btneditar{
    background-color: rgb(250, 193, 37);
}

/* GENERAL STYLES */
  
.pagination{
    padding: 30px 0;
  }
  
  .pagination ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .pagination button{
    display: inline-block;
    width:30px;
    border-radius: 500%;
    color: #222;
  }
  
  
  
  /* ELEVEN */
  
  .p11 button{
    background-color: #ff3737;
    margin: auto 5px;
    color: #fff;
    border: 3px solid #ff3737;
    position: relative;
  }

  .container{
    width: 100%;
    max-width: 940px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .card-body{
    height: 500px;
}

#targeta{
  width: 1000px;
  margin: auto auto;
}

#cancelar{
margin-right:10px;
}

#basic-addon1{
  color: rgb(156, 156, 156);
}

/* ENCABEZADO */

#myInputBotonSearch{
  float: right;
  margin-left: 10px;
  margin-right: 0px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  height: 35px;
}

#myInput{
  float: right;
  width: 200px;
  color: rgb(255, 255, 255);
}
#myInputBotonRefresh{
  float: right;
  color: rgb(255, 255, 255);
  background-color: transparent;
  height: 35px;
  border: transparent;
}

.required{
  float: right;
  color: rgb(236, 236, 236);
  font-size: 20px;
}