<div class="main-content" id="tabla">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de citas </h4>
                        <p class="card-category"> CITAS
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        FECHA
                                    </th>
                                    <th>
                                        CLIENTE
                                    </th>
                                    <th>
                                        MOTIVO_CITA
                                    </th>
                                    <th style="text-align:center;">
                                        ESTADO_CITA
                                    </th>
                                    <th>
                                        ACCION
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cita of citas">
                                        <td>
                                            {{cita.fechaCita}}
                                        </td>
                                        <td>
                                            {{cita.nombreCliente}}
                                        </td>
                                        <td>
                                            {{cita.motivo}}
                                        </td>
                                        <td *ngIf="cita.estado == true;else rojo" style="text-align:center;">
                                            🟢
                                        </td>
                                        <ng-template #rojo style="margin-bottom:20px;">
                                            <td style="text-align:center;">
                                                🔴
                                            </td>
                                        </ng-template>
                                        <td>
                                            <!-- <button _ngcontent-uqa-c89="" mat-raised-button="" type="submit"
                                                class="btn btn-warning mr-2" (click)="getCitasById(cita.id)"><span
                                                    class="mat-button-wrapper"><i _ngcontent-uqa-c89=""
                                                        class="material-icons">mode_edit</i>
                                                    <div _ngcontent-uqa-c89="" class="ripple-container"></div>
                                                </span><span matripple=""
                                                    class="mat-ripple mat-button-ripple"></span><span
                                                    class="mat-button-focus-overlay"></span></button> -->
                                                    <a href="#Modal" role="button" class="btn btn-large btn-success" data-toggle="modal" (click)="getCitasById(cita.id)">AGREGAR CLIENTE</a>
                                        </td>
                                        <td>
                                            <button _ngcontent-die-c89="" mat-raised-button="" type="submit"
                                                class="btn btn-danger mr-2" (click)="deleteCitas(cita.id)"><span
                                                    class="mat-button-wrapper"><i _ngcontent-die-c89=""
                                                        class="material-icons">delete</i>
                                                    <div _ngcontent-die-c89="" class="ripple-container"></div>
                                                </span><span matripple=""
                                                    class="mat-ripple mat-button-ripple"></span><span
                                                    class="mat-button-focus-overlay"></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- </div> -->
</div>

<!-- Modificar citas -->
<div class="main-content">
    <div class="container-fluid">
        <div class="card" id="tajeta" style="display: none;">
            <div class="card-header card-header-danger">
                <h4 class="card-title">EDITAR DE CITAS</h4>
                <!-- <p class="card-category">Complete your profile</p> -->
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="VETERINARIO" type="text" [(ngModel)]="citasid.id">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="FECHA" type="date" [(ngModel)]="citasid.fechaCita">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="NOMBRE DEL CLIENTE" type="text"
                                [(ngModel)]="citasid">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <textarea matInput rows="5" placeholder="MOTIVO DE CITA" [(ngModel)]="citasid.motivo">
                                          </textarea>
                        </mat-form-field>
                    </div>
                </div>


                <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                    (click)="updateCitas()">REGISTRAR</button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                    (click)="botonCancelar()">CANCELAR</button>
                <div class="clearfix"></div>

            </div>
        </div>
        <!-- </div> -->
    </div>
</div>

    <!-- Vertically centered modal -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">EDITAR CITA</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
        
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="VETERINARIO" type="text" [(ngModel)]="citasid.id">
                                </mat-form-field>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="FECHA" type="date" [(ngModel)]="citasid.fechaCita">
                                </mat-form-field>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="NOMBRE DEL CLIENTE" type="text"
                                        [(ngModel)]="citasid">
                                </mat-form-field>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <textarea matInput rows="5" placeholder="MOTIVO DE CITA" [(ngModel)]="citasid.motivo">
                                                  </textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                            (click)="updateCitas()">REGISTRAR</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
                </div>
            </div>
        </div>
    </div>