<div class="main-content">

    <div class="container-fluid">
        <!-- <div class="row"> -->
            <!-- <div class="col-md-8"> -->
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">REGISTRO DE CITAS</h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <form >
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="BUSCAR VETERINARIO POR CEDULA" type="text"  [(ngModel)]="veterinarioCedula">
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <button mat-raised-button type="submit" class="btn btn-danger" (click)="buscarVeterinario()">BUSCAR</button>
                            </div>
                        </div>
                        
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="FECHA" type="date"  [(ngModel)]="fecha">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">         
                            <label id="lop1">HORARIOS</label>  
                            <select id="op1" name="select" [(ngModel)]="hora">
                              <option value="08:00:00">08:00am - 08:30am</option>
                              <option value="08:30:00">08:30am - 09:00am</option>
                              <option value="09:00:00">09:00am - 09:30am</option>
                              <option value="09:30:00">09:30am - 10:00pm</option>
                              <option value="10:00:00">10:00pm - 10:30pm</option>
                              <option value="10:30:00">10:30pm - 11:00pm</option>
                              <option value="11:00:00">11:00pm - 11:30pm</option>
                              <option value="11:30:00">11:30pm - 12:00pm</option>
                              <option value="14:00:00">14:00pm - 14:30pm</option>
                              <option value="14:30:00">14:30pm - 15:00pm</option>
                              <option value="15:00:00">15:00pm - 15:30pm</option>
                              <option value="15:30:00">15:30pm - 16:00pm</option>
                              <option value="16:00:00">16:00pm - 16:30pm</option>
                              <option value="16:30:00">16:30pm - 17:00pm</option>
                              <option value="17:00:00">17:00pm - 17:30pm</option>
                              <option value="17:30:00">17:30pm - 18:00pm</option>
                              <option value="18:00:00">18:00pm - 18:30pm</option>
                              <option value="18:30:00">18:30pm - 19:00pm</option>
                            </select>
                          </div>
                        </div>

                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="BUCAR CLIENTE POR CEDULA" type="text"  [(ngModel)]="citaDto">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <button mat-raised-button type="submit" class="btn btn-danger" (click)="buscarVeterinario()" >BUSCAR</button>
                                    <a href="#Modal" role="button" class="btn btn-large btn-success" data-toggle="modal">AGREGAR CLIENTE</a>
                            </div>
                          </div>
                            <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <textarea matInput rows="5"
                                    placeholder="MOTIVO DE CITA"
                                    [(ngModel)]="citaDto.motivo">
                                  </textarea>
                                </mat-form-field>
                              </div>
                            </div>
                          
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="createCita()" style="display: none;" id="btnRegistrar">REGISTRAR</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            <!-- </div> -->
          <!-- Vertically centered modal -->
      <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">REGISTRO DE CLIENTE</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="CEDULA">
                    </mat-form-field>
                  </div>
      
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="NOMBRE">
                    </mat-form-field>
                  </div>
      
                </div>
      
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="APELLIDO">
                    </mat-form-field>
                  </div>
      
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="EMAIL ADDRESS" type="email">
                    </mat-form-field>
                  </div>
      
                </div>
                <div class="row ">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="CELULAR" type="text">
                    </mat-form-field>
                  </div>
      
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="DIRECCION" type="text">
                    </mat-form-field>
                  </div>
                </div>
      
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
              <button type="button" class="btn btn-success">GUARDAR CLIENTE</button>
            </div>
          </div>
        </div>
      </div>
        </div>
    <!-- </div> -->
      
</div>
  
