<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row"> -->
            <!-- <div class="col-md-8"> -->
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">REGISTRO DE MEDICAMENTOS</h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <form>
                        
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="NOMBRE COMERCIAL" type="text" [(ngModel)]="medicamento.nombreComercial">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="NOMBRE GENERICO" type="text" [(ngModel)]="medicamento.nombreGenerico">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="CANTIDAD" type="text" [(ngModel)]="medicamento.cantidad">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="PRECIO $" type="text" [(ngModel)]="medicamento.precio">
                                  </mat-form-field>
                                </div>
                            </div>
                         
                            
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="createMedicamento()">REGISTRAR</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            <!-- </div> -->
          
        </div>
    <!-- </div> -->
  </div>
  