<div class="main-content">
	<div class="container-fluid">
		<div class="card">
			<div class="card-header card-header-danger">
				<h3 class="card-title">Notificaciones</h3>
			</div>
			<div class="card-body">
				<!-- <div *ngIf="avents" class="row">
					<div class="col-md-12">
						<ng-container *ngIf="(asyncTabs | async) === null">
							Loading tabs...
						</ng-container>
						<mat-tab-group>
							<mat-tab *ngFor="let tab of asyncTabs | async">
								<ng-template mat-tab-label>{{tab.label}}</ng-template>
								{{tab.content}}
							</mat-tab>
						</mat-tab-group>
					</div>
				</div> -->
				<div class="row">
					<div class="col-md-12">
						<h3>
							<p *ngIf="!avents" style="text-align: center;" class="mt-3">
								No hay notificaciones pendientes
							</p>
						</h3>
						<alarm-list [events]="avents" [status]="status"></alarm-list>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>