<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">FICHA CLINICA ARCA</h4>
            <p class="card-category">
              Complete el formulario para el paciente:
            </p>
            <p class="card-category">
               <!-- {{ animal.nombre }} -->
            </p>
          </div>
          <div class="card-body">
            <div class="row">
              <!--Motivo Consulta -->
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <textarea
                    matInput
                    placeholder="Motivo de la Consulta"
                    type="text"
                    name="motivoConsulta"
                    #motivoConsulta="ngModel"
                    style="text-transform: uppercase"
                  
                    [(ngModel)]="fichaClinicaRqstDTO.motivoConsulta"
                    required
                  ></textarea>
                </mat-form-field>
                <!-- <div
                  class="text-danger"
                  *ngIf="
                    motivoConsulta.hasError('required') &&
                    motivoConsulta.touched
                  "
                >
                  motivoConsulta requerido
                </div> -->
              </div>

              <!-- fecha Ingreso -->
              <div class="col-md-6">
                <br>
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="Fecha Ingreso"
                    type="date"
                    required pattern="\d{4}-\d{2}-\d{2}"
                    required
                    [(ngModel)]="fichaClinicaRqstDTO.fechaIngreso"
                  />
                </mat-form-field>
              </div>

              <!-- Hallazgos -->
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <textarea
                    matInput
                    placeholder="Hallazgos en la revisión Clínica"
                    type="text"
                    name="hallazgos"
                    #hallazgos="ngModel"
                    style="text-transform: uppercase"
                  
                    [(ngModel)]="fichaClinicaRqstDTO.hallazgos"
                    style="text-transform: uppercase"
                   
                    required
                  ></textarea>
                </mat-form-field>
                <!-- <div
                  class="text-danger"
                  *ngIf="hallazgos.hasError('required') && hallazgos.touched"
                >
                  motivoConsulta requerido
                </div> -->
              </div>

              <!--Alimentación-->
              <div class="col-md-6">
                <br>
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="Alimentación"
                    type="number"
                    name="alimentacion"
                    #alimentacion="ngModel"
                    [(ngModel)]="fichaClinicaRqstDTO.alimentacion"
                    required
                  >
                </mat-form-field>
                <!-- <div
                  class="text-danger"
                  *ngIf="
                    alimentacion.hasError('required') && alimentacion.touched
                  "
                >
                  motivoConsulta requerido
                </div> -->
              </div>
            </div>

            <hr />
            <h4 style="text-align: center"><b>CONSTANTES FISIOLÓGICAS</b></h4>

            <div class="row">
              <!--Temperatura-->
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="Temperatura"
                    type="number"
                    name="temperatura"
                    #temperatura="ngModel"
                    [(ngModel)]="fichaClinicaRqstDTO.temperatura"
                    required
                  />
                </mat-form-field>
                <!-- <div
                  class="text-danger"
                  *ngIf="
                    temperatura.hasError('required') && temperatura.touched
                  "
                >
                  Temperatura es requerido!
                </div> -->
              </div>

              <!--Conjuntiva-->
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="Conjuntiva"
                    type="text"
                    [(ngModel)]="fichaClinicaRqstDTO.conjuntiva"
                    style="text-transform: uppercase"
                   
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!--Mucosas-->
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="Mucosas"
                    type="text"
                    [(ngModel)]="fichaClinicaRqstDTO.mucosas"
                    style="text-transform: uppercase"
                    
                  />
                </mat-form-field>
              </div>

              <!--Frecuencia Cardiaca-->
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="Frecuencia Cardiaca (F.C)"
                    type="number"
                    [(ngModel)]="fichaClinicaRqstDTO.frecuenciaCardiaca"
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!--Frecuencia Respiratoria-->
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="Frecuencia Respiratoria (F.R)"
                    type="number"
                    [(ngModel)]="fichaClinicaRqstDTO.frecuenciaRespiratoria"
                  >
                </mat-form-field>
              </div>

              <!--Tiempo de Relleno Capilar -->
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="Tiempo de Rellenado Capilar (T.R.C)"
                    type="text"
                    style="text-transform: uppercase"
                   
                    [(ngModel)]="fichaClinicaRqstDTO.trc"
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="row">
                 <!--Examenes Solicitados-->
            <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <textarea
                    matInput
                    placeholder="Examenes Solicitados"
                    type="text"
                    [(ngModel)]="fichaClinicaRqstDTO.examenes_solicitados"
                    style="text-transform: uppercase"
                   
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
           

            <div class="row">
              <!--Desparacitaciones-->
              <div class="col-md-6">
                <label>TIPO</label>
                <div class="caja">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    name="tipoPaciente"
                    #tipoPaciente="ngModel"
                    [(ngModel)]="fichaClinicaRqstDTO.tipoPaciente"
                    required
                  >
                    <option selected disabled>Seleccione:</option>
                    <option value="INTERNO">Interno </option>
                    <option value="EXTERNO">Externo</option>
                  </select>
                  <!-- <div
                    class="text-danger"
                    *ngIf="
                      tipoPaciente.hasError('required') && tipoPaciente.touched
                    "
                  >
                    Tipo es requerido!
                  </div> -->
                </div>
              </div>

              <!--Esterilizacion-->
              <div class="col-md-6">
                <label>Esterilización</label>
                <div class="caja">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    name="esterilizacion"
                    #esterilizacion="ngModel"
                    [(ngModel)]="fichaClinicaRqstDTO.esterilizacion"
                    required
                  >
                    <option selected disabled>Seleccione:</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                  </select>
                  <!-- <div
                    class="text-danger"
                    *ngIf="
                      esterilizacion.hasError('required') &&
                      esterilizacion.touched
                    "
                  >
                    Esterilizacion es requerido!
                  </div> -->
                </div>
              </div>
            </div>

            <div class="row">
              <!--Diagnostico Diferencial -->
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <textarea
                    matInput
                    placeholder="Diagnostico Diferencial"
                    type="text"
                    [(ngModel)]="fichaClinicaRqstDTO.diagnosticoDiferencial"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!--Dpronotico -->
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <textarea
                    matInput
                    placeholder="Pronostico"
                    type="text"
                    [(ngModel)]="fichaClinicaRqstDTO.pronostico"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!--Costo -->
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="Costo"
                    type="number"
                    [(ngModel)]="fichaClinicaRqstDTO.costo"
                  />
                </mat-form-field>
              </div>

             
              <div class="col-md-6">

 <!-- boton guardar  -->
                <button
                  type="submit"
                  mat-raised-button
                  class="btn btn-danger pull-right"
                  (click)="crateFichaClinica()"
                >
                  REGISTRAR FICHA CLINICA
                </button>

                <!-- BOTON AGREGAR TRATAMIENTO  -->
                <button
                id="botontratamiento"
                type="submit"
                mat-raised-button
                class="btn btn-success pull-right"
                (click)="agregarTratamiento()"
                style="display:none;"
              >
                AGREGAR TRATAMIENTO
              </button>
              
                <div class="clearfix"></div>
              </div>

            </div>
            <!--fin row costos-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
