<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">LISTA DE MEDICAMENTOS</h4>
                        <p class="card-category"> medicamentos
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        NOMBRE COMERCIAL
                                    </th>
                                    <th>
                                        NOMBRE GENERICO
                                    </th>
                                    <th>
                                        CANTIDAD
                                    </th>
                                    <th>
                                        PRECIO
                                    </th>
                                    <th>
                                        ACCION
                                    </th>
                                   
                                </thead>
                                <tbody>
                                    <tr *ngFor="let medicamentos of medicamento">
                                        <td>
                                          {{medicamentos.nombreComercial}}  
                                        </td>
                                        <td>
                                            {{medicamentos.nombreGenerico}}
                                        </td>
                                        <td>
                                           {{medicamentos.cantidad}}
                                        </td>
                                        <td>
                                            {{medicamentos.precio}}
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <div class="btn-group">
                                                    <button class="btn btn-warning" type="submit" (click)="idmedicamento(medicamentos.id)">EDITAR</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="container">
                       
                        <div class="pagination p11">
                          <ul>
                            <button (click)="previous()"> < </button>
                         
                            <button (click)="next()"> > </button>
                          </ul>
                        </div>  
                                
                      </div>
                      
                </div>
            </div>
        </div>
    </div>
  </div>
  