<div class="inner-container">
	<div *ngFor="let event of events">
		<alarm-list-item class="animate__animated animate__fadeInDown" *ngFor="let st of status" [events]="event"
			[status]="st">
		</alarm-list-item>
	</div>
	<!-- <div *ngFor="let uncheckeEvent of uncheckedEvents; let i = index">
		<div *ngIf="uncheckedEvents.length< 9; else morethan9">
			<a [routerLink]="['/upgrade', uncheckeEvent.paciente.id]" class="dropdown-item">
				<span data-notify="message">
					<span>
						<strong>
							{{ uncheckeEvent.eventType }}
						</strong>
					</span>
					<span> Paciente:&nbsp;{{ uncheckeEvent.paciente.nombre }} </span>
				</span>
			</a>
		</div>
		<ng-template #morethan9>
			<hr class="dropdown-divider" />
			<a class="dropdown-item">
				<span data-notify="message">
					<span>
						<strong>
							No tienes notificaciones. <a [routerLink]="['/alarms']">Historial</a>
						</strong>
					</span>
				</span>
			</a>
		</ng-template>
	</div> -->
</div>