

  .container{
    width: 100%;
    max-width: 940px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  
  
  /* GENERAL STYLES */
  
  .pagination{
    padding: 30px 0;
  }
  
  .pagination ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .pagination button{
    display: inline-block;
    width:30px;
    border-radius: 500%;
    color: #222;
  }
  
  
  
  /* ELEVEN */


  .container{
    width: 100%;
    max-width: 940px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  
  
  
  
  /* GENERAL STYLES */
  
  .pagination{
    padding: 30px 0;
  }
  
  .pagination ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .pagination button{
    display: inline-block;
    width:30px;
    border-radius: 500%;
    color: #222;
  }
  
  
  
  /* ELEVEN */
  
  .p11 button{
    background-color: #200f6b;
    margin: auto 5px;
    color: #fff;
    border: 3px solid #200f6b;
    position: relative;
  }
  
  
  .btn {
    background-color: rgb(230, 67, 64);
    color: #fff;
}
.circulo{
  width: 140px;
  height: 140px; 
  border-radius: 100px;
}
.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    
  }

  .search input{

   height: 47px;
   text-indent: 25px;
   border: 2px solid #d6d4d4;


  }


  .search input:focus{

   box-shadow: none;
   border: 2px solid blue;


  }

  .search .fa-search{

   position: absolute;
   top: 20px;
   left: 16px;

  }

  .search button{

   position: absolute;
   top: 5px;
   right: 5px;
   height: 35px;
   width: 35px;
   background: blue;

  }