<div class="container-fluid">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">

        <div class="card ">
          <div class="card-header card-header-danger">
            <h3 class="card-title">LISTADO DE MASCOTAS</h3>
            
          </div>
        </div>
      </div>



<div class="row">
  <div class="col-12">
    <div class="card text-center" style="background-color: rgb(249, 242, 242);">
      <div class="card-body">
        <div class="row">
         
          <div class="col-md-5">
          
            <br>
            <div class="search">
             
              <input type="text" class="form-control" placeholder="Buscar por nombre"   [(ngModel)]="filterAnimal">
             
              <button class="btn btn-primary"> <i class="fa fa-search"></i> </button>
            </div>
          </div>
          </div>
         
        
       
         
       
        <div class="row">

          <div class="col-lg-3 col-md-3" *ngFor="let animal of animales | filteranimales: filterAnimal">

            <!-- Card -->
            <div class="color" class="card border-danger mb-3" style="max-width: 18rem;" style="background-color: rgb(248, 226, 226);">
              <h3 class="card-title" style="text-transform: uppercase">
                 {{animal.nombre}}
              </h3>
            
              <div class="card-header">
                <img  class="circulo"  src={{animal.urlImagenAnimal}}   />
        
              
              </div>
            
              <div class="card-body">

               

              

                <p class="card-text" >
                  Raza: {{animal.raza}}
                </p>

                 <p class="card-text">
                  Sexo:  {{ animal.sexo}}
                </p>
                <p class="card-text">
                  Edad:  {{ animal.edad}}
                </p>

              </div>
            <br>
            <br>
              <div class="card-footer-center">

                  <button class="btn" (click)="Detalle(animal.id)">
                 Seleccionar
                  </button>

                  <br>

              </div>
            </div>
            <!-- Card -->
          
                      
  </div></div></div></div>
 

</div>
</div>

<div class="container " >
                     
  <div class="pagination p11 " >
    <ul>
      <button (click)="previous()"> < </button>
   
      <button (click)="next()"> > </button>
    </ul>
  </div>  
          
</div>
</div>
</div>
</div>


