<div class="container-fluid">
  <div class="main-content">
    <div class="row">
  
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Registro</h4>
       
        </div>
        <!-- formulario -->
        <div class="card">
          <div class="card-body">
            <form
              (ngSubmit)="modificarAnimal()"
              novalidate
              enctype="multipart/form-data"
            >
              <div class="form-body">
                <h4 class="card-title">Complete los campos.</h4>
                <hr />
                
                  <!-- foto -->
                  <div class="container">
                    <div class="card-group">
                      <div class="row">
                        <div class="col-md-4">
                          <img
                            id="imagen"
                            [src]="imagenPreview"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4" id="subirfoto">
                        <label
                          for="formFileSm"
                          class="form-label"
                          class="control-label col-sm-4 d-flex justify-content-center align-items-center"
                          >Subir foto</label
                        >
                        <input
                          type="file"
                          id="imagen"
                          #imagenInputFile
                          (change)="capturarImagen($event)"
                        />
                      </div>
                      <div class="col-md-5" id="subirfoto">
                        <!-- NOMBRE  -->
                        <div class="form-group">
                          <input
                            type="text"
                            placeholder="Nombre"
                            class="form-control"
                            name="nombre"
                            #nombre="ngModel"
                            [(ngModel)]="animal.nombre"
                            style="text-transform: uppercase"
                            pattern="[a-zA-Z ]{2,15}"
                            title="Solo letras"
                            required
                            
                          />
                          <div
                            class="text-danger"
                            *ngIf="nombre.hasError('required') && nombre.touched"
                          >
                            Nombre es requerido!
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                


                <!-- RAZA -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        placeholder="Raza"
                        class="form-control"
                        name="raza"
                        #raza="ngModel"
                        [(ngModel)]="animal.raza"
                        style="text-transform: uppercase"
                        pattern="[a-zA-Z ]{2,15}"
                        title="Solo letras"
                        required
                      />
                      <div
                        class="text-danger"
                        *ngIf="raza.hasError('required') && raza.touched"
                      >
                        Raza es requerido!
                      </div>
                    </div>
                  </div>

                  <!-- SEXO -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <select
                        class="custom-select"
                        class="form-control"
                        name="sexo"
                        #sexo="ngModel"
                        [(ngModel)]="animal.sexo"
                        required
                      >
                        >
                        <option [ngValue]="undefined">Sexo..</option>
                        <option value="MACHO">MACHO</option>
                        <option value="HEMBRA">HEMBRA</option>
                      </select>

                      <div
                        class="text-danger"
                        *ngIf="sexo.hasError('required') && sexo.touched"
                      >
                        Sexo es requerido!
                      </div>
                    </div>
                  </div>

                  <!--ESPECIE-->

                  <div class="col-md-4">
                    <div class="form-group">
                      <select
                        class="custom-select"
                        class="form-control"
                        name="especie"
                        #especie="ngModel"
                        [(ngModel)]="animal.especie"
                        required
                      >
                        <option [ngValue]="undefined">Especie*</option>
                        <option value="Canino">Canino</option>
                        <option value="Felino">Felino</option>
                      </select>

                      <div
                        class="text-danger"
                        *ngIf="especie.hasError('required') && especie.touched"
                      >
                        Especie es requerido!
                      </div>
                    </div>
                  </div>

                  <!--Procedencias-->
                  <div class="col-md-4">
                    <div class="form-group">
                      <select
                        class="custom-select"
                        class="form-control"
                        name="procedencia"
                        #procedencia="ngModel"
                        [(ngModel)]="animal.procedencia"
                        required
                      >
                        <option [ngValue]="undefined">Procedencia</option>
                        <option value="ECU911">ECU911</option>
                        <option value="PARTICULAR">PARTICULAR</option>
                      </select>

                      <div
                        class="text-danger"
                        *ngIf="procedencia.hasError('required') && procedencia.touched"
                      >
                        Procedencia es requerido!
                      </div>
                    </div>
                  </div>
                  <!--TIPO ESTANCIA-->
                  <div class="col-md-4">
                    <div class="form-group">
                      <select
                        class="custom-select"
                        class="form-control"
                        name="lugarEstancia"
                        #lugarEstancia="ngModel"
                        [(ngModel)]="animal.lugarEstancia"
                        required
                      >
                        <option [ngValue]="undefined">Lugar de Estancia</option>
                        <option value="REFUGIO">REFUGIO</option>
                        <option value="CLINICA">CLINICA</option>
                        <option value="HOGAR">HOGAR</option>
                      </select>

                      <div
                        class="text-danger"
                        *ngIf="lugarEstancia.hasError('required') && lugarEstancia.touched"
                      >
                        Estancia es requerido!
                      </div>
                    </div>
                  </div>

                 
                    <!--edad-->
                    <div class="col-md-4">
                      <div class="form-group">
                        <input
                          type="number"
                          placeholder="Edad"
                          class="form-control"
                          name="edad"
                          #edad="ngModel"
                          [(ngModel)]="animal.edad"
                          required
                        />
                        <div
                          class="text-danger"
                          *ngIf="edad.hasError('required') && edad.touched"
                        >
                          Edad es requerido!
                        </div>
                      </div>
                    </div>

                    <!--peso -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <input
                          type="number"
                          placeholder="Peso"
                          class="form-control"
                          name="peso"
                          #peso="ngModel"
                          [(ngModel)]="animal.peso"
                          required
                        />
                        <div
                          class="text-danger"
                          *ngIf="
                             peso.hasError('required') && peso.touched"                        >
                          Peso es requerido!
                        </div>
                      </div>
                    </div>

                    <!-- FECHA  -->
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Fecha nacimiento"
                          type="date"
                          [(ngModel)]="animal.fechaNacimiento"
                        />
                      </mat-form-field>
                    </div>
                 

                  <!--  color-->

                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <textarea
                        matInput
                        rows="5"
                        placeholder="Color/Caracteristicas"
                        [(ngModel)]="animal.colorCaracteristicas"
                        required
                      >
                  <div class="text-danger" *ngIf="
                    colorCaracteristicas.hasError('required') && colorCaracteristicas.touched
                    ">
                  Color y Caracteristicas es requerido!
                   </div>
                </textarea
                      >
                    </mat-form-field>
                  </div>

                  <!--OBSERVACIONES-->
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <textarea
                        matInput
                        rows="5"
                        placeholder=" Observaciones/Procedencia"
                        [(ngModel)]="animal.observacionesProcedencia"
                      >
                      </textarea>
                    </mat-form-field>
                  </div>

                  <!--/span-->
                </div>

                <!--foto-->

                <hr />
                <div class="form-actions">
                  <button
                    type="button"
                    class="btn btn-inverse"
                    (click)="volver()"
                  >
                    <i class="fa fa-reply" aria-hidden="true"></i> Regresar
                  </button>

                 
                  <button
                    type="submit"
                    class="btn btn-success mr-2"
                    (click)="modificarAnimal()"
                  >
                    <i class="fa fa-check"></i> Guardar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
